.img-slider {
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    &:hover .img-slider__button {
        opacity: 1;
        transition: opacity 300ms linear;
    }

    &__slide {
        display: none;
        position: absolute;
        animation: fade 1.5s;

        @keyframes fade {
            from {
                opacity: 0.5;
            }
            to {
                opacity: 1;
            }
        }

        &--active {
            display: block;
            position: static;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 5;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: rgba(80, 78, 78, 0.1);
        opacity: 0;   
    }

    &__button--hidden {
        display: none;
        pointer-events: none;
    }

    &__button--left {
        left: 0;
    }

    &__button--right {
        right: 0;
    }

    &__arrow {
        top: 50%;
        transform: translateY(-50%);
        width: 0px;
        height: 0px;
    }

    &__arrow--left {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid $brand_color;
    }

    &__arrow--right {
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid $brand_color;
    }
}

.slider-dots {
    @include spacer ('l', 'bottom');

    .slider-dots__list {
        position: absolute;
        list-style: none;  
        left: 50%;
        padding-left: 0;
        transform: translateX(-50%);
    }

    .slider-dots__dot {
        display: inline-block;
        margin: 0 20px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        cursor: pointer;
        background-color:$brand_color;
        transition: background-color 0.6s ease;
    
        &:hover {
            background-color: rgb(240, 202, 202);
        }

        &--active {
            background-color: rgb(240, 202, 202);
        }
    }

}
