$center-button: translate(-50%, -50%);

.home-intro {
    position: relative;
    height: 100vh;
    margin-bottom: 100px;
    
    &__title {
        position: absolute;
        width: 100%;
        margin: auto;
        top: 40%;
    }

    &__text {
        @extend %h1;
        text-align: center;
    }

    &__start-quiz {
        background-color: $quiz_color;
        width: 100px;
        height: 40px;
        color: white;
        font-size: 18px;
        border-radius: 10%;
        border-color: white;
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        top: 90%;
        animation: wiggle 1s linear 2s both infinite;
    }

    @keyframes wiggle {
        0% { 
            transform: rotate(0deg); 
        }
       80% { 
           transform: rotate(0deg); 
        }
       87% { 
           transform: rotate(7deg); 
        }
       92% { 
           transform: rotate(-7deg); 
        }
      100% { 
          transform: rotate(0deg); 
        }
    }
    
}



