// breakpoints
$mobile	: 600px !default;
$tablet	: 601px !default;
$desktop : 901px !default;

@mixin mobile-only {
	@media (max-width : $mobile) {
		@content;
	}
}

@mixin tablet-only {
	@media only screen and (min-width : $mobile + 1) and (max-width : $tablet) {
		@content;
	}
}

@mixin tablet-and-below {
	@media only screen and (max-width : $tablet) {
		@content;
	}
}

@mixin tablet-and-up {
	@media only screen and (min-width : $mobile + 1) {
		@content;
	}
}


@mixin desktop-and-up {
	@media only screen and (min-width : $tablet + 1) {
		@content;
	}
}


@mixin desktop-and-below {
	@media only screen and (max-width : $desktop) {
		@content;
	}
}

@mixin desktop-only {
	@media only screen and (min-width : $tablet + 1) and (max-width : $desktop) {
		@content;
	}
}

// spacer
@mixin spacer($value, $dir){
	$side: map-get($direction, $dir);
	$val: map-get($size, $value);
	#{$side}: #{$val};
 }
 $size: (
	 s: 30px,
	 l: 170px
 );
 $direction: (
	 top: margin-top,
	 bottom: margin-bottom,
	 left: margin-left,
	 right: margin-right
 );