* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: $bckgrndimg;
    background-attachment: fixed;
    background-position: center bottom;
}

img{
    vertical-align: middle;
}